title:               Lilium - Naya's Digital Garden
include:             ['_pages']

permalink:           pretty
relative_permalinks: false

url: "https://lilium.nayamoss.com" # the base hostname & protocol for your site
plugins:
  - jekyll-sitemap

plugins:
  - jekyll-last-modified-at
  #- jekyll-airtable_data
  #- jekyll-airtable

sass:
  sass_dir:          _sass
  style:            :compressed

collections:
  notes:
    output: true
    permalink: /:path

defaults:
  - scope:
      path: "**/*"
    values:
      layout: "default"
  - scope:
      path: "_notes/**/*.md"
    values:
      layout: "note"
